    <div id="events_date">
        <%= column_chart(high_date, {height: 800, colors: light_contrasting_colors, title: 'High Security Events by Date', xtitle: 'Date', ytitle: 'Occurrences', theme: 'palette6', stacked: true}) %>
        <%= column_chart(med_date, {height: 800, colors: light_contrasting_colors, title: 'Medium Security Events by Date', xtitle: 'Hour', ytitle: 'Occurrences', theme: 'palette4', stacked: true}) %>
    </div>