<turbo-frame id="frame_panel">
  <div>
    <label for="chart-selector">Choose a chart:</label>
    <%= form_with url: graph_dashboard_path, method: :get, data: { turbo_frame: "selected-graph" }, local: true do |f| %>
      <%= f.select :chart, [["Top 10 Flagged IPs", "top_ips"], ["High Security Events : Hourly", "high_hour"], ["High Security Events : Daily", "high_date"],
                            ["Medium Security Events : Hourly", "med_hour"], ["Medium Security Events : Daily", "med_date"],
                            ["Successful vs Failed Logins Hourly", "logins_hour"], ["Successful vs Failed Logins Daily", "logins_date"]   ], { selected: params[:chart] }, onchange: "this.form.requestSubmit()" %>
    <% end %>
  </div>

  <turbo-frame id="selected-graph">
    <%= render partial: "dashboard/graphs/#{params[:chart] || 'top_ips'}", locals: 
    {   top_ips: top_ips, high_date: high_date, high_hour: high_hour,
        med_date: med_date, med_hour: med_hour, logins_hour: logins_hour, 
        logins_date: logins_date } %>
  </turbo-frame>
</turbo-frame>