<turbo-frame id='frame_panel'>
    <h2>Upload Summary</h2>

    <div id="results">
        <% @results.each do |result| %>
        <div>
            <%= event.attribute_names %>
        </div>
        <% end %>
    </div>
    
</turbo-frame>
