<turbo-frame id='frame_panel'>
    <div class="summary-list-modal">
 	    <header<h2>Upload Summary</h2></header>
 	    <ul>
            <% result_summary.each  do |name| %>
            <li>
                <div><%= name[:data].keys.first %> : <%= name[:data].values.first %></div>
            </li>
            <% end %>
        </ul>
    </div>
    <div id="summary-graph-modal">
        <%= column_chart(result_summary, {width: 400, colors: light_contrasting_colors, title: 'Security Events by Number of Occurrences', xtitle: 'Event Type', ytitle: 'Count', theme: 'palette2', stacked: false}) %>
    </div>    
</turbo-frame>
