<turbo-frame id="frame_panel">
    <div class="upload-error">
      <strong>Upload Error:</strong> <%= message %> <br>
      <%= link_to 'Reset Page', reset_path, class: 'reset-link' %>
    </div>

    <% if disable_buttons %>
    <script>
        document.getElementById('summary-button')?.setAttribute("disabled", true);
        document.getElementById('graph-button')?.setAttribute("disabled", true)
    </script>
    <% end %>
</turbo-frame>