<div class="dashboard-controls">
    <%= render "dashboard/upload_file" %>

    <% if @analysis_results.present %>
        <%= render "dashboard/summary" %>
        <%= render "dashboard/graph" %>
        <%= render "dashboard/table" %>
        
</div>
