<div class="dashboard">
    <div class="nav-tabs">
        <button class="upload-tab">Upload</button>
        <button class="summary-tab">Summary</button>
        <button class="graph-tab">Graph</button>
        <button class="table-tab">Table</button>
    </div>
    <div class="frame">
        <turbo-frame id='frame_panel'>
            <%= render 'upload' %>
        </turbo-frame>
    </div>
</div>