<div>
    <%= column_chart(high_hour, {width: 1000, colors: light_contrasting_colors, title: 'High Security Events : Hourly', xtitle: 'Event Type', ytitle: 'Hour', theme: 'palette2', stacked: false}) %> 
</div>