<div id="chart-window">
    <% bar_chart(login, {width: 700, colors: light_contrasting_colors, title: 'Successful vs Failed Logins', xtitle: 'Occurrences', ytitle: 'IP', theme: 'palette2', stacked: false}) %> 
</div>