<div>
    <%= column_chart(med_date, {width: 1000, colors: light_contrasting_colors, title: 'Medium Security Events : Daily', xtitle: 'Event Type', ytitle: 'Hour', theme: 'palette2', stacked: false}) %> 
</div>