<div>
    <%= bar_chart(med_date, {width: 1000, height: 600, colors: light_contrasting_colors, title: 'Medium Security Events : Daily', xtitle: 'Date', ytitle: 'Count', stacked: true}) %> 
    
</div>