/*
Each module designed to be a standalone component
Navigation bars, carousels, dialogs, and widgets
Modules live inside Layout components
*/

.dashboard {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 500px;
}

div.button-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

turbo-frame#frame_panel {
    border-style: solid;
    border-color: blue;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    
      
    gap: 10rem;  
}

.upload-modal {
    border-style: solid;
    padding: 20px;
    border-radius: 2px;
    border-color: black;
    
}

.summary-list-modal {
    border-style: solid;
    padding: 10px;
    border-radius: 2px;
    
}


